{% macro format_cell(header, row) %}
    {% set color = '' %}
    {% macro format_cell(header, row) %}
    {% set color = '' %}
    
    <td bgcolor="{{ color }}" align="left">
        {% if header == 'guid' %}   
                {% set color = 'red' %}
        {% endif %}
    </td>
{% endmacro %}
    <td bgcolor="{{ color }}" align="left">
        {% if header == 'guid' %}
            <a href="{{ row[header] }}" target="_blank">link</a>
        {% else %}
            {{ row[header] }}
        {% endif %}
    </td>
{% endmacro %}